<html ng-app="myApp">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script type="text/javascript" src="myScript.js"></script>
</head>

<body ng-controller="MainCtrl">
  <div>
    <div id="title">Good Search</div>
    <div>
      <div>
        <input id="searchInput" type="text" ng-model="searchKeyWord" placeholder="Type your key words" class="col-md-7 col-md-offset-2"></input>
      </div>
      <div>
        <button id="searchBtn" ng-click="search()" class="btn btn-default col-md-1">Search</button>
      </div>
    </div>
    <div>
      <div>
        <div id="chart_div"></div>
      </div>

      <div class="headline-region" ng-repeat="hl in headlines">
        <div class="headline">
          <img src="{{hl.img}}"></img>
          <p>{{hl.title}}</p>
        </div>
      </div>
    </div>

  </div>
</body>

</html>
