body {
  background: #333;
  padding: 40px;
  color: #ddd;
  font-family: "Roboto", sans-serif;
}

#title {
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  padding: 20px;
  padding-bottom: 10px;
  letter-spacing: .33rem;
  text-transform: uppercase;
}

#search {
  color: #333;
}

#chart_div {
  width: 80%;
  margin: 30px auto;
}

#searchBtn {
  padding: 2px;
  margin: 0 10px;
}

.headline {
  width: 33.3%;
  float: left;
  display: block;
  text-align: center;
}
.headline p{
  color: #808080
}

.headline img {
  height: 30%;
  margin: 0 auto;
  opacity: 0.9;
  border-radius: 5px;
  border: 1.5px solid #666666;
}
