body {
  background: #333;
  padding: 40px;
  color: #ddd;
  font-family: "Roboto", sans-serif;
}

#title {
  margin: 0 auto;
  float: left;
  text-align: left;
  font-size: 4rem;
  padding-left: 100px;
  padding-bottom: 10px;
  letter-spacing: .33rem;
  text-transform: uppercase;
}

#search {
  padding-top: 15px;
}

#searchInput {
  color: #333;
  margin-left: 50px;
  border-radius: 3px;
}

#chart_div {
  width: 80%;
  margin: 30px auto;
}

#searchBtn {
  padding: 2px;
  margin: 0 10px;
}

.headline {
  width: 33.3%;
  float: left;
  display: block;
  text-align: center;
}

.headline p {
  color: #808080
}

.headline img {
  height: 30%;
  margin: 0 auto;
  opacity: 0.9;
  border-radius: 5px;
}

/* The starting CSS styles for the enter animation */

.fade.ng-hide-remove {
  transition: 0.3s linear all;
  opacity: 0;
}


/* The finishing CSS styles for the enter animation */

.fade.ng-hide-add {
  /*transition:0.5s linear all;*/
  opacity: 1;
}
